<div class="create-book-fields">
    <label>Title</label>
    <input type="text" name="title" value="<%= book.title %>">
</div>

<div class="create-book-fields">
    <label>2D Book Image</label>
    <input type="file" name="twoDImage">
</div>

<div class="create-book-fields">
    <label>Do we carry this book?</label>
    <input type="checkbox" name="isCarried">
    <label for="isCarried"></label>
</div>

<style>
    .create-book-fields {padding-bottom:12px;}
</style>