<h2><%= book.title %></h2>
<img src="<%= book.coverImage %>" height=150rem/>
<br>
<% if(book.bookPDF) { %>
    <embed src="<%= book.bookPDF %>" type="application/pdf" width=30% height="600">
<% } %>
<a href="/books/<%= book.id %>/edit">Edit</a>

<style>

</style>