<h2><%= book.title %></h2>
<img src="<%= book.coverImagePath %>" height=150rem/>
<embed src="<%= book.bookPDFPath %>" type="application/pdf" width="600" height="800">
<a href="/books/<%= book.id %>/edit">Edit</a>