<header>
    <div class="left">
        <div class="logo">
            <img src="https://internalpage.s3.amazonaws.com/jobsite-logo.png" alt="Logo">
        </div>
    </div>
    <div class="menu-items center">
        <a href="/">Home</a>
        <a href="/phone-script">Phone Script</a>
        <a href="/books">Books</a>
        <a href="/booksets">Booksets</a>
        <a href="/publishers">Publishers</a>
    </div>
    <div class="right">
        <div class="search-bar">
            <input type="text" placeholder="Search...">
        </div>
        <a href="/users" class="profile">
            <img src="https://via.placeholder.com/40" alt="Profile Picture">
            <span>Profile</span>
        </a>
    </div>
</header>

<style>

.centered {text-align:center;}
</style>