<h4>Basic Information</h4>
<div class="create-book-fields">
    <label>Name<span class="required">*</span></label>
    <input type="text" name="name" value="<%= exam.name %>">
</div>

<div class="books-selected">

</div>

<p class="required">* = required field</p>
<style>
    .create-book-fields {padding-bottom:12px;}
    .required {font-size:16px;color:red;}
    .books-selected {border: 1px solid rgb(34, 34, 34);border-radius:4px;background-color:rgb(161, 161, 161);min-height:10vh; width:50%;}
</style>